<!-- /templates/index.liquid -->
<div class="product-postings grid">

  {% for collection in collections reversed %}

      <div class="product-post--{%cycle 'left-text', 'right-text' %} grid__item">

        <div class="product-post__image grid__item large--two-thirds">
          {{ collection.image.src | img_url: 'grande' | img_tag }}

          {% if collection.products_count == 1 %}
            <div class="product-post__buy-now">
              {{ "!$!$ Spend money on this !$!$" | link_to: collection.products[0].url}}
            </div>
          {% endif %}

          {% if collection.products_count > 1 %}
            <div class="product-post__buy-now">
              {{ "!$!$ Spend money on this !$!$" | link_to: collection.url}}
            </div>
          {% endif %}

        </div>

        <div class="product-post__text-container grid__item large--one-third">
          {%if collection.description.size < 30  %}
            <p class="product-post__text--large">{{ collection.description }}</p>
          {% endif %}

          {%if collection.description.size >= 30 and collection.description.size < 55 %}
            <p class="product-post__text--small">{{ collection.description }}</p>
          {% endif %}

          {%if collection.description.size >= 55 and collection.description.size <= 140 %}
            <p class="product-post__text--xsmall">{{ collection.description }}</p>
          {% endif %}
        </div>

      </div>

  {% endfor %}
</div>